RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^index index.php
RewriteRule ^viewSkill views/admin/viewSkill.php
RewriteRule ^createSkill views/admin/createSkill.php
RewriteRule ^viewDepartment views/admin/viewDepartment.php
RewriteRule ^createDepartment views/admin/createDepartment.php
RewriteRule ^dashboard views/admin/dashboard.php
RewriteRule ^editSkill/(.*)$ views/admin/editSkill.php?&id=$1
RewriteRule ^editDepartment/(.*)$ views/admin/editDepartment.php?&id=$1
#RewriteRule ^reservation/(.*)$ pages/reservation.php?page=reservation&id=$1
#RewriteRule ^my-reservation pages/my-reservation.php?page=my-reservation



