RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^index index.php
RewriteRule ^viewSkill views/admin/viewSkill.php
RewriteRule ^viewRole views/admin/viewRole.php
RewriteRule ^createSkill views/admin/createSkill.php
RewriteRule ^createRole views/admin/createRole.php
RewriteRule ^addSkills views/admin/addSkills.php
RewriteRule ^showSkills views/admin/showSkills.php
RewriteRule ^viewDepartment views/admin/viewDepartment.php
RewriteRule ^createDepartment views/admin/createDepartment.php
RewriteRule ^createEmployee views/admin/createEmployee.php
RewriteRule ^dashboard views/admin/dashboard.php
RewriteRule ^logout views/admin/logout.php
RewriteRule ^editSkill/(.*)$ views/admin/editSkill.php?&id=$1
RewriteRule ^editRole/(.*)$ views/admin/editRole.php?&id=$1
RewriteRule ^eSkills/(.*)$ views/admin/eSkills.php?&id=$1
RewriteRule ^editDepartment/(.*)$ views/admin/editDepartment.php?&id=$1


#RewriteRule ^reservation/(.*)$ pages/reservation.php?page=reservation&id=$1
#RewriteRule ^my-reservation pages/my-reservation.php?page=my-reservation



